<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyApp</title>
  </head>

  <body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>

    <h2> Database </h2>
      <% for(var i in urls){ %>
        <form method="POST" action="/urls/<%= i %>/delete">
          <p><a href="/u/<%= i %>"><%= i %> </a>--> <a href="<%= urls[i].url %>"><%= urls[i].url %></a></p>
          <div style="display: inline-block">
            <a href="urls/<%= i %>">Edit</a>
            <button type="submit">Delete</button>
          </div>
        </form>
      <% } %>

      <form>
        <p></p>
        <a href="/urls/new">Add more links here</a>
      </form>
  </body>
</html>